body {
    background-image: url("../img/pizzab4sunscreen.jpg");
    background-repeat:round;
}
h1 {
    text-decoration: Underline;
    text-decoration-color: maroon;
}
h2 {
    color: white;
    text-decoration: 3px underline;
    text-decoration-color: maroon;
}
h3 {
    color: white;
    text-decoration: 3px underline;
    text-decoration-color: maroon;
}
.box img {
    float: left;
}
.box1 img {
    float: right;
}
img {
    border: 5px solid maroon
  }
body {
    text-align: center;
}
.input {
    display: inline-block;
}
.pick-up5 textarea {
    display: none;
}
.pick-up5 button {
    display: none;
}
.pizza-size {
    vertical-align: bottom;
}
i {
    color:white;
    font-weight: 1000;
}
h1 {
    color: white;
}
label {
    color: white;
    font-weight: 2000;
}
label::before {
    border: 2px maroon;
    border-radius: 50%;
}