body {
    background-color: rgba(128, 128, 128, 0.507);
}
h1 {
    text-decoration: Underline;
    text-decoration-color: maroon;
}
h3 {
    color: maroon;
}
.box img {
    float: left;
}
.box1 img {
    float: right;
}
img {
    border: 5px solid maroon
  }
body {
    text-align: center;
}
.input {
    display: inline-block;
}
.pick-up5 textarea {
    display: none;
}
.pick-up5 button {
    display: none;
}
.pizza-size {
    vertical-align: bottom;
}
i {
    color: maroon;
}
h4 {
    color: maroon;
}
