.box img {
    float: left;
}
.box1 img {
    float: right;
}
img {
    border: 5px solid maroon
  }
body {
    text-align: center;
}
.input {
    display: inline-block;
}
.radio-container {
    margin-left: 1200px;
}